
<!doctype HTML>
<html lang="en" ng-app="GenerateManager">

<head>
    <title>AngularJS Flask App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
    <script type="text/javascript" src={{  url_for('static', filename='app.js') }}></script>
</head>

<body ng-controller="myCtrl" layout="row" layout-fill>
{% raw %}
    <div layout="column" layout-fill>
        <md-toolbar>

            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Home" style="height:48px;width:48px">
                    <md-icon md-svg-src='static/assets/gen_white.svg' style="height:36px;width:36px"></md-icon>
                </md-button>
                <h2 md-truncate flex>Generate Manager</h2>

                <i class="material-icons">menu</i>
            </div>
        </md-toolbar>
        <md-content layout="column" flex>
            <div layout="row" layout-align="center" layout-wrap>
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch layout-align="center">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Card with image</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                </md-card>
            </div>
        </md-content>
    </div>
{% endraw %}
</body>

</html>


